#boxtop
#banner
  %h1 #{settings.product_name} will be launching soon!
#boxmain
  %p Enter your email address below and we'll notify you when it has launched.
  #subscribe
    %form{:action => '/subscribe', :method => 'post'}
      %label{:for => 'email'} Email
      %input{:type => 'text', :name => 'email', :value => 'you@yourcompany.com'}
      %button{:value => 'submit', :class => 'submit'}
        %span Notify Me!