body {
  background: url(/background.png) top left repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  overflow: hidden;
}

#container {
  margin: 20% auto;
  width: 500px; }
  #container #boxtop {
    background: url(/boxtop.png) top left no-repeat;
    margin: 0 auto;
    height: 44px;
    width: 464px; }
  #container #banner {
    background-color: #77abc9;
    margin: 0 auto;
    width: 462px; }
    #container #banner h1 {
      color: white;
      font-weight: bold;
      font-size: 1.7em;
      line-height: 1.5em;
      margin-left: 26px;
      text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      top: -5px;
      width: 462px; }
  #container #boxmain {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    width: 411px; }
    #container #boxmain p {
      color: #333333;
      font-size: 1.1em;
      font-weight: bold;
      margin: 5px 0 13px; }
    #container #boxmain h3 {
      color: #333333;
      font-size: 1.5em;
      font-weight: normal;
      line-height: 1.4em; }
    #container #boxmain #subscribe form label {
      display: none; }
    #container #boxmain #subscribe form input[type=text] {
      -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.4);
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #333333;
      font-size: 1.4em;
      margin: 10px 0;
      padding: 8px;
      width: 300px; }
      #container #boxmain #subscribe form input[type=text].disabled {
        color: #999999; }
    #container #boxmain .button-container {
      margin:10px 0 10px -3px;
    }


/*ZURB buttons http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba*/
.awesome, .awesome:visited {
  background: #222 url(/alert-overlay.png) repeat-x;
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
}
.awesome:hover{ background-color: #111; color: #fff; }
.awesome:active{ top: 1px; }
.small.awesome, .small.awesome:visited{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited { font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited { background-color: #91bd09; }
.green.awesome:hover { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #e33100; }
.red.awesome:hover { background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover { background-color: #fc9200; }

/*button styles for notify-me*/
button.awesome, a.awesome, .awesome.enabled {
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255, .5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255, .5);
  box-shadow:inset 0 1px 0 rgba(255,255,255, .5);
  background-color:#d3d3d3;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid rgba(0,0,0,0.2);
  font-size:1.2em;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  padding: 7px 20px 7px;
  white-space:nowrap;
}
.awesome:hover {
  background-color:#d3d3d3;
}
.awesome.enabled {
  background-color:#343434;
  border:none;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.18, rgb(51,51,51)),
      color-stop(0.8, rgb(92,92,92))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(51,51,51) 18%,
      rgb(92,92,92) 80%
  );
  text-shadow:-1px -1px 0 #000000;
}

/* Hacks */
button::-moz-focus-inner {
/* Firefox */
  border: 0;
  padding: 0;
}